# Create credentials for Twitter at https://developer.twitter.com/en/apps/
twitter:
  api_key: 
  api_secret_key: 
  access_token: 
  access_token_secret: 
# Create credentials for Google's Cloud Natural Language API
google:
  key: 
# Create credentials for Google's Cloud Natural Language API
azure:
  endpoint: 
  key: 